.axis {
    font-size: 15px;
    font-family: inherit;
    color: darkblue;
}
.axis path,
.axis line {
    fill: none;
    stroke: #D4D8DA;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}


#sidebar {
    overflow: hidden;
    z-index: 3;
}

.collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0px;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    height: auto;
    z-index: 0;
    background: rgba(250, 250, 250, 0.8);
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height:600px;
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

#float-button-group {
    position:absolute;
    left:90%;
    top:30%;
    opacity:0.5;
}

#float-button-group:hover {
    opacity:1;
}

.mapContainer {
    background: skyblue;
    width: 965px;
    height: 505px;
    border: 3px solid steelblue;
}

.slider.slider-horizontal {
    width: 90%;
    height: 20px;
}

.yearRangeText {
    box-sizing: border-box;
    float: left;
    border-right: 1px solid #e4e9ec;
    text-align: center;
    vertical-align: middle;
    width: 12%;
    padding: 0;
}
.yearRangeSlider{
    box-sizing: border-box;
    float: left;
    height : 22px;
    margin: 0px 20px;
    width: 80%;
}
#yearSlider .slider-track-high {
    background: 	#D3D3D3;
}

#yearSlider .slider-track-low {
    background: 	#D3D3D3;
}

.yearRangeSlider .slider-selection {
    background: #aad4e5;
}

.countryIconDiv {
    height: 50px;
    width: 100%;
    overflow: hidden;
}

#countryIcon {
    border-radius: 50%;
    height: 100%;
}


.div-board {
    border: 2px solid #d9d9d9;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}


.ticks {
    font: 10px inherit, cursiver;
    color: darkgray;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}
.domain path{
    stroke: #555555;

}
.tick line{
    stroke: #555555;
}
.tick text{
    fill: #555555;
}
.track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
}

.track-inset {
    stroke: #ddd;
    stroke-width: 8px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
}

.handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
}

.countries {
    stroke: #f7f7f7;
    fill: #d9d9d9;
}

.legend-element {
    width: 15px;
    height: 15px;
}

.cntryMouseOver {
    fill: #2b8cbe;
    fill-opacity: 0.2;
}


.selected {
    fill: coral;
}

.secondSelected {
    fill: mediumpurple;
    fill-opacity: 0.5;

}


/*Map grid style*/
.grat {
    stroke: grey;
    stroke-width: 1px;
    opacity: .2;
}

#header {
    background-color:lightgrey;
    color:darkred;
    text-align:center;
    padding:0.5em;
}

#yearChart {
    padding:0.5em;
    text-align:center;
}


.d3-tip {
    /*line-height: 5;*/
    padding-left: 10px;
    padding-right: 10px;
    min-width: 120px;
    border-style: groove;
    /*padding: 12px;*/
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    pointer-events: none;
}
.tooltip-title{
    font-size:18px;
    font-family: inherit;
}
.focus circle {
    fill: red;
}
.focus rect {
    fill: yellow;
}
.focus text {
    font-size: 15px;
    font-weight: bold;
}
.overlay {
    fill: none;
    pointer-events: all;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    /*box-sizing: border-box;*/
    display: inline;
    font-size: 10px;
    /*line-height: 1;*/
    color: rgba(0, 0, 0, 0.8);
    position: relative;
    pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
    content: "\25BC";
    /*margin: -1px 0 0 0;*/
    top: 100%;
    left: 0;
    text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
    content: "\26A0";
    /*margin: -4px 0 0 0;*/
    top: -800px;
    left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
    content: "\25B2";
    /*margin: 4px 0 1px 0;*/
    top: -8px;
    left: 1481px;
    text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
    content: "\25B6";
    /*margin: -4px 0 0 -1px;*/
    top: 50%;
    left: 100%;
}

.zoom {
    fill: none;
    pointer-events: all;
}


.yearZoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}

.yearCircle {
    fill : steelblue;
    stroke: black;
    stroke-width : 2px;
    /* r : 8; */
}

.yearCircleSelected {
    fill : red;
    stroke: black;
    stroke-width : 2px;
    /* r : 15; */
}

.yearContextCircle {
    fill : steelblue;
    stroke: black;
    stroke-width : 2px;
    /* r : 3; */
}

.disabled {
    fill-opacity: 0;
}

.agg-tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px inherit;
    background: lightgrey;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.event-tooltip {
    position: absolute;
    width: 150px;
    padding: 2px;
    font: 12px inherit;
    background: lightgrey;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

@font-face {
    font-family: inherit;
    src: url("./fonts/optima.ttf");
}

#map text {
    font-family: inherit;
}

.table-align {
    text-align : left;
}

h1{
    font-family: inherit;
    color: #db2525;
    font-size: 38px;

}


body, html {
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0;
    font-family: inherit;


}

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    /* padding: 100px 20px;*/

    height: 100%;
}
.female{
    fill: #45AD6A;
    color: #45AD6A;
    text-anchor:start;
}
.male{
    fill: #de2d26;
    color: #de2d26;
    text-anchor:end;
}

#map-view {

}
.countries {
    stroke: #f7f7f7;
    fill: #d9d9d9;
}


.line {
    fill: none;
    stroke: darkgray;
    stroke-width: 3;
}

#graphCircle{
    fill:deepskyblue;
    opacity: 0.8;
}

.mapContainer {
    background: skyblue;
    width: 965px;
    height: 505px;
    border: 3px solid steelblue;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height:600px;
    vertical-align: top;
    overflow: hidden;
    background: skyblue;

}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10%;
}

#float-button-group {
    position:absolute;
    left:80%;
    top:30%;
    opacity:0.5;
}

#float-button-group-comparision {
    font-family: inherit, cursiver;
    font-size: 20px;
    color: white;
    position:absolute;
    left:80%;
    top:30%;

}
#float-text {
    position:absolute;
    left:0%;
    top:3%;
    color: #9b1717;

}

#float-button-group:hover {
    opacity:1;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 10px;
    padding: 2px;
    font: 12px inherit;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
div.noDataTooltip{
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px inherit;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
div.lineTooltip{
    position: absolute;
    text-align: center;
    padding: 2px;
    height: 30px;
    width: 60px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.scaling-svg {
    position: relative;
    height: 50%;
    width: 49%;
    left: 0;
    top: 0;
    border: 1px #2196F3;
}

.scaling-right-svg {
    position: relative;
    height: 50%;
    width: 49%;
    left: 0%;
    top: 0%;
    border: 1px #2196F3;
}
.scaling-right-barchart-svg {
    position: absolute;
    height: 243.5%;
    width: 17.5%;
    left: 66.5%;
    top: -73%;
}

.parent{
    position: relative;
    height: 100%; /* bigger than your svg */
    width: 100%;
}
.xAxis  text {
    font: 25px inherit;
    fill: #555555;

}
.yAxis  text {
    font: 10px inherit;
    fill: #555555;

}

.yAxis1{
    font-size: 25px;
    font-family: inherit;
        fill: #555555;

}

.graphHeading{
    fill: #db2525;
    font: 20px inherit;

}

.legendFont{
    fill:white;
    font: 20px inherit;

}




.graphHeading1{
    font-size: 40px;
    font-family: inherit;
    fill: #db2525;


}


.axisTitle{
    fill: #555555;
    font: 15px inherit;
}

.border{
    fill: none;
    stroke: #2b8cbe;
    stroke-width: 6px;

}

.border1{
    fill: none;
    stroke: #2b8cbe;
    stroke-width: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2b8cbe;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #303030;
}