body, html {
    height: 100%;
	width: 100%;
    margin: 0;
    font-family: Arial;
}

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
   padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
   /* padding: 100px 20px;*/
  
  height: 100%;
}
.female{
    fill: #45AD6A;
    color: #45AD6A;
    text-anchor:start;
}
.male{
    fill: #de2d26;
    color: #de2d26;
    text-anchor:end;
}

#map-view {
 //   margin-left: 750px;
  //  width: 910px;
    border-width: 1px;
    border-color: #d9d9d9;
    border-left-style: solid;
}
.countries {
    stroke: #f7f7f7;
    fill: #d9d9d9;
}
.selected {
    fill: #d20a11;
}